In [10]:
#From the above dictionary, do the following tasks"

#access "Mike"
#access 80
#change "Mike" to "Your name"
#add ML = 80 and DL = 80 inside marks"

dict1 = { 
   "april_batch":{
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
    }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [11]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [12]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [18]:
dict1
dict1

{'april_batch': {'student': {'name': 'Gulshan',
   'marks': {'python': 80, 'maths': 70}}},
 'name': 'Gulshan'}

In [19]:
print(dict1)
dict1.popitem()
print(dict1)

{'april_batch': {'student': {'name': 'Gulshan', 'marks': {'python': 80, 'maths': 70}}}, 'name': 'Gulshan'}
{'april_batch': {'student': {'name': 'Gulshan', 'marks': {'python': 80, 'maths': 70}}}}

In [20]:
dict1["april_batch"]["student"]["marks"]["ML"]=80
print(dict1)

{'april_batch': {'student': {'name': 'Gulshan', 'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [21]:
dict1["april_batch"]["student"]["marks"]["DL"]=80
print(dict1)

{'april_batch': {'student': {'name': 'Gulshan', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}